header {
    background-color: darkblue;
    color: white;
    text-align: center;
    text-shadow: 5px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.search-heading {
    font-weight: bold;
}

.search-container {
    margin-left: 30px;
    border-bottom: solid black 1px;
}

.current-weather {
    border: solid black 1px;
    margin-right: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

article h2 {
    font-weight: bolder;
}

article h3 {
    font-weight: bolder;
}

.weather-element {
    padding-bottom: 8px;
}

.search-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.search-button {
    width: inherit;
    background-color: rgb(1, 105, 251);
    border: solid rgb(1, 105, 251) 1px;
    border-radius: 5px;
    color: white;
    padding: 3px;
    margin-bottom: 15px;
}

.past-search-wrapper {
    display: flex;
    flex-direction: column;
}

.past-search-wrapper button {
    width: 100%;
    background-color: lightgray;
    margin-bottom: 15px;
}

.forecast-container{
    margin-left: 0px;
}

.day {
    color: white;
    background-color: #424952;
    margin-right: 25px;
    padding: 8px;
    padding-right: 50px;
}

.day h4 {
    padding-bottom: 50px;
}

.day h5 {
    padding-bottom: 15px;
}