header {

    background-color: darkblue;
    color: white;
    text-align: center;
    text-shadow: 5px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 20px;
}

.search-heading {

    font-weight: bold;
}

.search-container {

    margin-left: 30px;
    border-bottom: solid black 1px;
}

.current-weather {

    border: solid black 1px;
    margin-right: 25px;
    padding: 10px;
}

.search-input {

    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.search-button {

    width: inherit;
    background-color: rgb(1, 105, 251);
    border: solid rgb(1, 105, 251) 1px;
    border-radius: 5px;
    color: white;
    padding: 3px;
    margin-bottom: 15px;
}
